<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h4 class="font-weight-bold">Favorite Recipies</h4>
            </div>
            <div class="col-4">
                <a href="/addRecipe" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add A New Recipe</a>
            </div>
               
            <div class="col-4">
               
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Recipe Name</th>
                  
                </tr>
            </thead>
            <tbody>
                <% if(customers.length > 0) { %>
                    <% for(let customer of customers) { %>
                    <tr>
                        <th scope="row"><a href="/favorites/<%=customer._id%>"><%=customer.recipeTitle%></a> </th>
                        
                        <td>
                            <a href="/deleteCustomer/<%= customer._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                   
                    <%for(let user of users) { %>
                        <tr>
                            <th scope="row"><a href="/userFavorites/<%=user._id%>"><%=user.title%></a> </th>
                            <td>
                                <a href="/deleteUserCustomer/<%= user._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                <a href="/updateUser/<%= user._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
            </table>
    </div>
</div>
